<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title }} | Me and Deep Learning</title>

  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />

  <script>
    MathJax = {
      tex: {
        inlineMath: { "[+]": [["$", "$"]] },
      },
      svg: {
        fontCache: "global",
      },
    };
  </script>

  <script
    defer
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
  ></script>

  {{ content_for_header }}
</head>
