<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% seo %}
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-E6PYLVHP44"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-E6PYLVHP44");
  </script>

  <title>{{ page.title }} | Deep Learning and Me</title>

  <link
    rel="icon"
    type="image/svg+xml"
    href="{{ '/assets/favicon.svg' | relative_url }}"
  />
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
  />
  <link
    rel="stylesheet"
    href="{{ '/assets/github-syntax.css' | relative_url }}"
  />

  <script>
    MathJax = {
      tex: {
        inlineMath: { "[+]": [["$", "$"]] },
      },
      svg: {
        fontCache: "global",
      },
    };
  </script>

  <script
    defer
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
  ></script>

  {{ content_for_header }}
</head>
